.navigation,
.footer,
footer {
  background-color: #006cc5;
  height: auto;
  margin-bottom: 0;
  a,
  a:hover {
    color: #ffd500;
  }
}
body {
  background-image: url("https://www.stuttgarter-nachrichten.de/media.media.7ee25c64-3e1c-457b-bb97-a69fb2ddf8ae.original1024.jpg");
  background-size: cover;
}

.content {
  background-color: rgba(255, 213, 0, 0.6);
  margin: 0;
}

.about {
  background-color: white;
  border-radius: 2rem;
}
