<footer class="footer">
  <section class="container">
    Слава Україні! Героям слава! · Protests:
    <a
      href="https://www.stopputin.net/"
      target="_blank"
      rel="noreferrer noopener"
      >stopputin.net</a
    >
    and
    <a
      href="https://standwithukraine.live/"
      target="_blank"
      rel="noreferrer noopener"
      >standwithukraine.live</a
    >
    ·
    <a
      href="https://how-to-help-ukraine-now.super.site/"
      target="_blank"
      rel="noreferrer noopener"
      >More ways to help</a
    >
  </section>
</footer>
