<section class="container centered">
  <div class="about">
    <h1>{{ .Site.Params.author }}</h1>
    {{ if reflect.IsSlice .Site.Params.info }}
    <h2>{{ range .Site.Params.info }}{{.}}<br />{{ end}}</h2>
    {{ else }}
    <h2>{{ .Site.Params.info }}</h2>
    {{ end }}
    <a href="https://chng.it/ZkBXzQjY" target="_blank" rel="noreferrer noopener"
      >Sign the Petition</a
    >
  </div>
</section>
